<div id="icons">
<a href="mailto:hello@madyalman.com"><i class="fa fa-envelope-square"></i></a>
<a href="https://www.linkedin.com/in/madyalman" target="_blank"><i class="fa fa-linkedin-square"></i></a>
<a href="https://github.com/madyalman" target="_blank"><i class="fa fa-github-square"></i></a>
<a href="{{@blog.url}}/rss"><i class="fa fa-rss-square"></i></a>
</div> 
